#loadCanvas {
	border: black 1px solid;
	position: absolute;
	width: 1000px;
	height: 640px;
}

#animal-matrix {
	position: absolute;
	width: 900px;
	height: 640px;

}

img {
	width: 300px;
	height: 200px;
	transition:width 1s, height 1s, display:1s;
	-webkit-transition:width 1s, height 1s;
}

.clicked {
	width: 1000px;
	height: 640px;
}

.hidden {
	width: 0px;
	height: 0px;
}